.BildKlasse{
  max-width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.BildKlasseSpeißeKarte{
  max-width: 75%;
  height: auto;
  display: block;
}

.UeberschriftLI{
	color :white;
	font-size : 1.75rem	
}

.TextLI{
	color :white;
	font-size : 1.25rem
}

.UeberschriftSK{
	color: white;
	font-size: 2em;
}

.UeberschriftKon{
	color: white;
	font-size: 3rem;
}

.TextKon{
	color: white;
	font-size: 1.5rem;
}

@font-face {
    font-family: 'oldenglish';
    src: url('../fonts/oldenglish-webfont.woff2') format('woff2'),
         url('../fonts/oldenglish-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
	font-family: oldenglish;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/hero3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ueberunsheader {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/teamdunkel.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.colcustom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
}